<!DOCTYPE html>
<html lang="en">

<head>
    {% embed('@WebBundle/Resources/views/Layouts/admin_assets.html.twig') %}
    {% endembed %}
    <!-- Title Page-->
    <title>Admin Dashboard - {{ WebInfos.0.webtitle }}</title>
</head>

<body class="animsition">
    <div class="page-wrapper">
      {% embed('@WebBundle/Resources/views/Layouts/admin_header.html.twig') %}
      {% endembed %}
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                              <div class="col-md-4">
                                  <div class="card">
                                    <div class="card-body">
                                        <div class="mx-auto d-block">
                                            <img class="rounded-circle mx-auto d-block" src="../images/icon/avatar-01.jpg" alt="Card image cap">
                                            <h5 class="text-sm-center mt-2 mb-1">{% for user in users %}{% if user.username == app.user.username %}{{ user.surname }} {{ user.name }}{% endif %}{% endfor %}</h5>
                                            <div class="location text-sm-center">
                                                Super Admin</div>
                                        </div>
                                        <hr>
                                        <div class="card-text text-sm-center">
                                            <a href="#">
                                                <i class="fa fa-facebook pr-1"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-twitter pr-1"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-linkedin pr-1"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-pinterest pr-1"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                        {% embed('@WebBundle/Resources/views/Layouts/copyright.html.twig') %}
                        {% endembed %}
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
    </div>
    {% embed('@WebBundle/Resources/views/Layouts/admin_js.html.twig') %}
    {% endembed %}
</body>

</html>
<!-- end document-->