<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Required meta tags-->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- CSS Styles -->
      <link href="css/basket.css" rel="stylesheet" media="all">
      <!-- Title Page-->
      <title>My basket - {{ WebInfos.0.webtitle }}</title>
  </head>
  <body>
    <div class="shopping-cart">
      <!-- Title -->
      <div class="title">
        My basket
      </div>
      <!-- Product #1 -->
      <div class="item">
        <div class="buttons">
          <span class="delete-btn"></span>
          <span class="like-btn"></span>
        </div>
        <div class="image">
          <img src="https://designmodo.com/demo/shopping-cart/item-1.png" alt="" />
        </div>
        <div class="description">
          <span>Common Projects</span>
          <span>Bball High</span>
          <span>White</span>
        </div>
        <div class="total-price">$549</div>
      </div>
      <div class="total">
        <span>Total: $549 + Shipping</span>
      </div>
    </div>
  </body>
  <button type="button" class="bout bout-success">Go pay</button>
</html>