<!DOCTYPE html>
<html lang="en">

<head>
  {% embed('@WebBundle/Resources/views/Layouts/admin_assets.html.twig') %}
  {% endembed %}
    <!-- Title Page-->
    <title>Login - {{ WebInfos.0.webtitle }}</title>
</head>

<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <h1> {{ WebInfos.0.webtitle }} </h1>
                                {% if error %}
                                <p><font color="red">
                                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    </font></p>
                                {% endif %}
                            </a>
                        </div>
                        <div class="login-form">
                            <form action="" method="post" id="form-login" class="form-login">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input class="au-input au-input--full" type="text" id="user_login" name="_username" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input class="au-input au-input--full" type="password" id="user_pass" name="_password" placeholder="*****">
                                </div>
                                <button name="_submit" class="au-btn au-btn--block au-btn--green m-b-20" type="submit">sign in</button>
                                <div class="social-login-content">
                                    <div class="social-button">
                                        <a href=""><button class="au-btn au-btn--block au-btn--blue2">sign in with linkedin</button></a>
                                    </div>
                                </div>
                            </form>
                            <div class="register-link">
                                <p>
                                    Don't you have account?
                                    <a href="/signup">Sign Up Here</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% embed('@WebBundle/Resources/views/Layouts/admin_js.html.twig') %}
{% endembed %}
</html>
<!-- end document-->
