<!-- Top header -->
<header class="w3-container w3-xlarge">
  <p class="w3-left">{{ category }}</p>
  <p class="w3-right">
    {% if app.user %}
      <a>
        <i>Hello {{ app.user.username }} !</i>
      </a>
    {% endif %}
    <a href="/basket"><i class="fa fa-shopping-cart w3-margin-right"></i></a>
    <a href="/login"><i class="fa fa-sign-in"></i></a>
  </p>
</header>